/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: #333;
    text-decoration: none;
}

h2 {
    font-size: 25px;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

#main-header {
    background-color: #333;
    overflow: hidden;
    height: 50px;
    margin-bottom: 20px;
}

#branding {
    float: left;
    width: 50%;
}

#branding h1 {
    color: #fff; 
    padding: 3px 0  0 70px;
    margin: 0 !important; 
}

#branding img {
    position: absolute;
    width: 60px;
}

#main-nav {
    width: 50%;
    float: right;
}

#main-nav ul{
    float: right;
}

#main-nav a {
    color: #fff;
}
#main-nav a:hover {
    color: red;
}

#main-nav li {
    float: left;
    padding: 15px 5px 0px 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    list-style: square;
    margin: 0px 15px;
}

#main-content {
    float: left;
    width: 60%;
    border: 1px solid #ccc;
    padding: 0 10px;
    border-radius: 10px;
}

article {
    border-bottom: 1px dotted #ccc;
    padding: 10px 0 px 20px 0; 
}

article h2 {
    margin: 0;
    padding: 0;
}

article .meta {
    margin: 0;
    padding: 5px 5px;
    background: #333;
    color: #fff;
}

article .meta span {
    float: right;
}

article .read-more {
    background: #ccc;
    color: #fff;
    border-radius: 10px;
    border: 1px solid #f4f4f4;
    text-align: center;
    display: block;
    width: 90%;
    margin: 10px auto;

}

article .read-more:hover {
      border: 1px solid DarkGray;  
} 
article img {
    width: 100%;
}

#sidebar {
    float: right;
    width: 30%;
}
.search {
    float: right;
}

.search input[type="search"] {
    border: #ccc 1px solid;
    border-radius: 5px;
    height: 20px;
    width: 85%;
    padding: 3px;
    float: left;
}


.search input[type="image"] {
    width: 10%;
    float: right;
}

.sub-nav {
    padding: 20px 0px;
}

.sub-nav li {
    font-size: 16px;
    font-weight: bold;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.sub-nav a {
    color: #333;

}

.sub-nav a:hover {
    color: red;

}

.ad img {
    width: 100%;
}

.main-footer {
    background: #333;
    color: #fff;
    margin-top: 20px;
/*    height: 180px;
    overflow: auto;
*/}

.main-footer a {
    color: #fff;
}

.footer-left {
    float: left;
    width: 35%;
    padding-top: 20px;
}

.footer-right {
    float: right;
    width: 65%;
}

.footer-nav {
    float: left;
    width: 31%;
    padding-top: 20px;
}

#comments {
    margin-top: 20px;
}

.comments-left {
    width: 8%;
   float: left;
 }

.comments-left img {
    width: 100%;
 }

.comments-right {
    width: 90%;
    float: right;
}

.comments-form, 
.add-post {
    margin: 20px 0;
    background: DarkGray;
    color: #fff;
    padding: 5px 20px 10px 20px;
    border-radius: 10px;
}
.comments-form input[type="text"], 
.comments-form input[type="email"],
.comments-form input[type="submit"],
.comments-form textarea,
.add-post  input[type="text"],
.add-post  input[type="submit"],
.add-post  input[type="file"],
.add-post  select, 
.add-post  textarea {
    width: 97%;
    height: 20px;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #000;
    margin-bottom: 30px;
}

.comments-form textarea {
    height: 60px;
}
.add-post textarea {
    height: 200px;
}

.comments-form input[type="submit"],
.add-post input[type="submit"] {
    width: 15%;
    height: 25px;
    text-align: center;
}

.add-post  select  {
    height: 25px;
}



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 930px) {

    .container {
        width: 95%;
    }

   #branding {
        width: 20%;
    }

    #main-nav {
      width: 80%;
    }

    #branding h1 {
            display: none;
    }

    #sidebar {
        float: none;
        width: 100%;
    }

    #sidebar .ad img {
        padding-bottom: 20px;
    }

    #main-content {
        float: none;
        width: 95%;
        margin: 0 auto;
    }

   .footer-nav li {
        border: none;
        margin: 0 10px;
    }

    .footer-left,
    .footer-right {
        float: none;
        width: 100%;
    }

    .footer-left {
        text-align: center;
    }
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}